subscription-id = "<your subscription id>"
prefix = "<your prefix>"
region = "northeurope"
ip-prefix = "10.99"
redis_name = "<redis name>"
psql-flexible = "<psql flexible server name>"
pgsql-user = "azureuser"
pgsql-password = "<pgsql password>"
dify-version = "0.6.15"
aks-name = "<aks name>"
dns_prefix = "<dns prefix>"
dify-custom-domain="<custom domain>"
storage_account_name = "<storage account name>"
storage_account_container_name = "<storage account container name>"